# Configurações da Aplicação
APP_ENV=development
PORT=8081
DEBUG=true
API_PREFIX=/api/v1
LOG_LEVEL=debug

# Configurações do Banco de Dados
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=app_db
DB_SSL_MODE=disable
DB_TIMEZONE=UTC

# Configurações de JWT
JWT_SECRET=
JWT_EXPIRATION=24h

# Configurações do Typesense
TYPESENSE_HOST=localhost
TYPESENSE_PORT=8108
TYPESENSE_PROTOCOL=http
TYPESENSE_API_KEY=

# Configurações do Swagger
SWAGGER_HOST=