APP_PORT=8081
SWAGGER_HOST=localhost:8081

DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=api_db
DB_SSLMODE=disable

TYPESENSE_HOST=
TYPESENSE_PORT=
TYPESENSE_PROTOCOL=
TYPESENSE_API_KEY=